@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slowSpin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slowSpin 60s linear infinite;
}